@import "src/main/Components/AchieveSlider/AchieveSlider.scss";

.sliderD {
  padding-bottom: 130px;
  padding-top: 96px;
  width: 1000px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.slideD {
  display: flex;
  align-items: center;
  width: 1035px;
  height: 408px;
  margin: 0 auto 30px;

  @media (max-width: 768px) {
    width: 100%;
    height: 832px;
  }
}