body, html {
    height: 100%;
}

.ReactModalPortal {
    position: relative;
    z-index: 15;
}

.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 490px;
    width: 715px;
    padding: 90px 120px;
    box-sizing: border-box;
    border-radius: 74px;
    background: rgba(0, 0, 0, 0.4);
    //backdrop-filter: blur(17.15px);

    @media (max-width: 768px) {
        height: 189px;
        width: 279px;
        padding: 10px;
    }
}

.choose__title {
    margin-bottom: 33px;
    color: #FFFFFF;
    text-shadow: 0 1.1px 8.5px rgba(0, 0, 0, 0.25);
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: 768px) {
        font-size: 12px;
        margin-bottom: 12px;
        margin-top: 20px;
    }
}

.choose__wrapper {
    width: 400px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 100%;
        padding: 0;
    }
}

.choose__address {
    margin-bottom: 31px;
    padding: 31px 46px;
    box-sizing: border-box;
    border-radius: 97px;
    border: 4.86px solid rgba(255, 255, 255, 0.46);
    background: rgba(217, 217, 217, 0.02);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 2.43px 5.832px 0px rgba(0, 0, 0, 0.13), 0px 10.693px 10.693px 0px rgba(0, 0, 0, 0.12), 0px 23.816px 14.581px 0px rgba(0, 0, 0, 0.07), 0px 42.772px 17.011px 0px rgba(0, 0, 0, 0.02), 0px 66.588px 18.47px 0px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(15.553292274475098px);
    color: #000;
    text-shadow: 0px 1.619px 12.143px rgba(0, 0, 0, 0.25);
    font-family: Nunito, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    transition: all 1s;
    text-align: center;
    cursor: pointer;

    @media (max-width: 768px) {
        width: 200px;
        padding: 10px 20px;
        font-size: 11px;
        margin-bottom: 12px;
        background-color: #ffffff;
        color: #000000;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.choose__address:hover {
    background-color: #ffffff;
    color: #000000;
}


.ReactModal__Overlay {
    z-index: 40!important;
}