.products {
  position: relative;

  @media (max-width: 786px) {
    padding: 10px 0 40px;
  }
}

.after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 50px;
  width: 20px;
  background: linear-gradient(-270deg, #D9D9D9 0.06%, rgba(217, 217, 217, 0.00) 24.76%);
}

.before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  height: 50px;
  width: 20px;
  background: linear-gradient(270deg, #D9D9D9 0.06%, rgba(217, 217, 217, 0.00) 24.76%);
}

.category {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  cursor: grab;
  padding-bottom: 30px;
  margin-bottom: 30px;

  &::-webkit-scrollbar {
    width: 1em;
    height: 4px;
  }

  &::-webkit-scrollbar-track {

  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
    outline: 1px solid slategrey;
  }
}

.category__title {
  white-space: nowrap;
  margin-right: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 22px;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background-color: #ffffff;
  user-select: none;

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }

  &:last-child {
    margin-right: 0;
  }
}

.products__main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 786px) {
   padding: 0 30px;
  }
}

.product {
  width: 30%;
  margin-right: 50px;
  margin-bottom: 100px;

  @media (max-width: 786px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 60px;
  }


  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.product__image {
  width: 100%;
  height: 232px;
  border-radius: 25px;
  margin-bottom: 12px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
  }
}

.product__title {
  margin-bottom: 19px;
  color: #000;
  text-align: center;
  text-shadow: 0 1px 7.498px rgba(0, 0, 0, 0.25);
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  @media (max-width: 786px) {
    margin-bottom: 10px;
  }
}

.product__descr {
  margin-bottom: 29px;
  color: #000;
  text-shadow: 0 0.586px 4.396px rgba(0, 0, 0, 0.25);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px;

  @media (max-width: 786px) {
    margin-bottom: 10px;
  }
}

.product__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__weight {
  color: #000;
  text-shadow: 0 0.464px 3.48px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 14.849px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.product__price {
  border-radius: 25px;
  background: #000;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 4.22px 10.127px 0px rgba(0, 0, 0, 0.13), 0px 18.566px 18.566px 0px rgba(0, 0, 0, 0.12), 0px 41.351px 25.317px 0px rgba(0, 0, 0, 0.07), 0px 74.263px 29.537px 0px rgba(0, 0, 0, 0.02), 0px 115.615px 32.068px 0px rgba(0, 0, 0, 0.00);
  padding: 8px 16px;
  box-sizing: border-box;
  color: #EADBBE;
  font-family: Poppins;
  font-size: 26.08px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.basket {
  width: 30px;
  height: auto;

  img {
    width: 100%;
  }
}