body, html {
    height: 100%;
}

.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #282c34;
}

.choose__wrapper {
    display: flex;
    align-items: center;
    width: 400px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
}

.choose__address {
    display: flex;
    align-items: center;
    height: 100%;
    width: calc(50% - 20px);
    margin-right: 20px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ffffff;
    color: #282c34;
    font-family: Comfortaa, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    transition: all 1s;
    text-align: center;
    cursor: pointer;
}

.choose__address:hover {
    background-color: black;
    color: #ffffff;
}

.choose__address:last-child {
    margin-right: 0;
}