.contacts {
  padding: 96px 0 168px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    padding-bottom: 120px;
    padding-top: 80px;
  }
}

.contacts__main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 220px;

  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.contacts__title {
  width: 100%;
  margin-bottom: 71px;
  color: #000000;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.contacts__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 82px;

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.contacts__box--center {
  justify-content: center;
  margin-bottom: 0;
}

.contacts__item {
  width: 462px;
  padding: 48px 76px 39px;
  box-sizing: border-box;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 4.955px 5.781px 14.618px 0 rgba(0, 0, 0, 0.25);

  @media (max-width: 768px) {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__box-title {
  margin-bottom: 21px;
  color: #B48A39;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20.837px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}

.contacts__box-number {
  color: #000;
  text-align: center;
  font-family: Nunito, sans-serif;
  font-size: 35.592px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
}

.contacts__map {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 182px;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 40px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.contacts__image {
  width: 575px;
  height: auto;

  @media (max-width: 768px) {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.contacts__map-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  justify-content: flex-start;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.contacts__map-box {
  margin-bottom: 95px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.contacts__map-box-title {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;

  @media (max-width: 768px) {
    text-align: center;
  }
}

.contacts__map-box-descr {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;

  @media (max-width: 768px) {
    text-align: center;
  }
}

.contacts__title-delivery {
  margin-bottom: 10px;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  text-align: left;

  @media (max-width: 768px) {
    font-size: 28px;
    text-align: center;
  }
}

.contacts__sub-title {
  margin-bottom: 15px;
  color: #000000;
  font-family: Nunito, sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 16px;

  @media (max-width: 768px) {
    font-size: 22px;
    text-align: center;
  }
}

.contacts__description {
  width: 555px;
  margin-bottom: 24px;
  color: #000000;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;

  @media (max-width: 768px) {
    width: 100%;
    text-align: center;
  }
}

.contacts__delivery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 30px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    padding-left: 50px;
  }
}

.contacts__image-delivery {
  flex-shrink: 0;
  width: 516px;
  height: auto;

  @media (max-width: 768px) {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.contacts__delivery-item {
  position: relative;
  width: 100%;
  margin: 0;
  color: #000000;
  font-family: Nunito, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #2FB41A;
  }
}

.contacts__delivery-item--blue {
  &::after {
    background-color: #194F7E;
  }
}

.contacts__delivery-item--orange {
  &::after {
    background-color: #FEA13A;
  }
}

.contacts__delivery-item--red {
  &::after {
    background-color: #EF5754;
  }
}

.contacts__delivery-item--purple {
  &::after {
    background-color: #D173FA;
  }
}