.header {
    display: flex;
    flex-direction: column;
    padding: 89px 140px;
    margin-bottom: 31px;
}

.header__nav {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 8px;
}

.header__box {
    display: flex;
}


.header__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__logo {
    display: flex;
    justify-content: center;
    width: 200px;
    height: auto;

    img {
        width: 100%;
    }
}

.header__item {
    display: inline-block;
    margin-right: 94px;
    color: #000000;
    font-family: Nunito, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header__item--no-margin {
    margin-right: 0;
}

.header__cart {
    margin-left: 56px;
    width: 44px;
    height: auto;
    cursor: pointer;

    img {
        width: 100%;
    }
}