.header {
    display: flex;
    flex-direction: column;
    padding: 89px 140px 0 140px;

    @media (max-width: 768px) {
        padding: 25px;
    }
}

.header__nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.header__box {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.header__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__logo {
    display: flex;
    justify-content: center;
    width: 171px;
    height: 89px;

    img {
        width: 100%;
        height: 100%;
    }
}

.header__item {
    display: inline-block;
    margin-right: 64px;
    color: #000000;
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @media (max-width: 786px) {
        margin-right: 0;
    }
}

.header__item--no-margin {
    margin-right: 0;
}

.header__cart {
    margin-left: 56px;
    width: 44px;
    height: auto;
    cursor: pointer;

    img {
        width: 100%;
    }
}

.burger {
    width: 22px;
    height: 14px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}