.header {
    display: flex;
    flex-direction: column;
    padding: 89px 140px;
}

.header__nav {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 8px;
}

.header__box {
    display: flex;
}


.header__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__logo {
    display: flex;
    justify-content: center;
    width: 200px;
    height: auto;

    img {
        width: 100%;
    }
}