body {
  background-color: #d9d9d9;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}


.container-small {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}